<!DOCTYPE html>
<html>
<head>
  <title>HRC | ACADEMY INFORMATION</title>

  <!--/tags -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="Soft Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
  <script type="application/x-javascript">
    addEventListener("load", function () {
      setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
      window.scrollTo(0, 1);
    }
  </script>
  <!--//tags -->
  <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
  <link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />

  <link href="/css/font-awesome.css" rel="stylesheet">
  <!-- //for bootstrap working -->
  <link href="//fonts.googleapis.com/css?family=Work+Sans:200,300,400,500,600,700" rel="stylesheet">
  <link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic'
      rel='stylesheet' type='text/css'>
</head>
<body>
<!-- header -->
  <div class="header" id="home">
    <div class="content white agile-info">
      <nav class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
            <a class="navbar-brand" href="/">
              <img src="/images/logo.png" width="120" height="50">
            </a>
          </div>
          <!--/.navbar-header-->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <nav class="link-effect-2" id="link-effect-2">
              <ul class="nav navbar-nav">
                <li ><a href="/" class="effect-3">Home</a></li>
                <li class="dropdown">

                  <!-- INGAT KSH NAMA HTML KEMANA-->

                  <a href="/opportunities" class="effect-3">Opportunities</a>

                </li>
                <li class="active"><a href="/academy" class="effect-3">Academy</a></li>


                <li><a href="/about" class="effect-3">About Us</a></li>

                <li class="dropdown">
                  <a  href="/company" class="effect-3" style="color:  #0080ff">|  Company</a>

                </li>

          <li>
          <div class="dropdown" >
            <% if (image_user === undefined) { %>
              <img  src="/images/profile-icon.png" width="33" height="33" >
            <% } else { %>
              <img src="<%= image_user %>" width="33" height="33">
             <% } %>

            <div class="dropdown-content">

            <h3>Sign In</h3>

            <hr>
                <% include partials/header %>
            </div>
          </div>

          </li>


              </ul>
            </nav>
          </div>


          <!--/.navbar-collapse-->
          <!--/.navbar-->
        </div>
      </nav>
    </div>
  </div>

  <div class="inner_page_agile">
    <h3>Academy Information</h3>
    <p>Add Some Short Description</p>

  </div>
  <!--//banner -->
  <!--/w3_short-->
  <div class="services-breadcrumb_w3layouts">
    <div class="inner_breadcrumb">

      <ul class="short_w3ls"_w3ls>
        <li><a href="/academy"> < Back</a><span>|</span></li>
        <li>Academy Information</li>
      </ul>
    </div>
  </div>

<!-- /inner_content -->
  <div class="inner_content_info_agileits">
    <div class="container">
      <div class="tittle_head_w3ls">
        <h3 class="tittle" style="float: left;">Tugas & Fungsi Keamanan</h3>
      </div>
      <div class="inner_sec_grids_info_w3ls">
        <div class="col-md-8 job_info_left">
          <div class="single-left1">
            <img src="images/banner3.jpg" alt=" " class="img-responsive" />
            <ul>
              <li style="    padding-left: 450px;
    padding-top: 20px;"><span class="fa fa-user" aria-hidden="true"></span><a href="#">Budi Halimah</a></li>
            </ul>
            <p>
           <b> PENGATURAN</b><br><br>
Pengaturan disini dilihat dari medan yang diamankan, fungsi tambahan yang di keluarkan oleh perusahaan atau pimpinan keamanan. Dan dilihat dari kebutuhan perusahaan
<br><br><b>PENJAGAAN</b><br> <br>
Setiap keamanan memiliki fungsi dan tugas yang sama secara umum menjaga dan mengamankan semua asset, karyawan, atasan dan keamanan kerja dilingkungan kerja atau tempat-tempat tertentu sesuai dengan ploting yang diatur oleh perusahaan atau atasan. Dan dituntut seorang keamanan yang memiliki tanggung jawab, kedisiplinan, kejujuran tinggi.
<br><br><b>PENGAWALAN</b><br><br>
Melakukan pengawalan pada atasan atau asset perusahaan yang dibawa atau dipindahkan, atau diambil dari tempat lain yang diperlukan perusahaan atau yang dikeluarkan oleh perusahaan. Dan bertanggung jawab penuh terhadap keamanan dan kenyamanan selama dalam perjalanan sampai tujuan yang dimaksut.
<br><br><b> PATROLI</b><br><br>
Tugas ini diwajibkan kepada setiap keamanan yang ditempatkan disetiap plot yang sudah diatur oleh atasan atau yang sudah ditunjuk oleh atasan  keamanan guna melakukan kegiatan ini. Dan dapat melakukan pencegahan apabila dalam melakukan patroli mendapati hal-hal yang mencurigagan atau janggal dan melakukan pencekalan apabila terdapat hal-hal yang merupakan suatu pelanggaran didalam sistem pengamanan.
<br><br><b>PENYIDIKAN DAN PENYELIDIKAN</b><br><br>
Kemampuan penyidikan dan penyelidikan setiap kejadian harus dimiliki oleh setiap personil sebelum ditangani oleh pihak yang berwajib, fungsi supaya dapat menggantisipasi sebelumnya untuk tidak terjadi hal-hal yang demikian
<br><br><b>PELAPORAN</b><br><br>
Seorang keamanan harus dapat membuat laporan kepada atasan dan harus melaporkan segala sesuatu yang dianggap perlu untuk dilaporkan dan untuk diketahui oleh atasan atau pihak perusahaan. Dan dapat mengetahui kejadian tersebut penting atau tidaknya untuk dilaporkan atau dimutasikan.
<br><br><b>MENGAMANKAN</b><br><br>
Keamanan mempunyai hak untuk mengamankan pelaku dan mengamankan barang bukti atau mencari barang bukti serta dapat meminta saksi-saksi yang benar mengetahui kejadian dan wajib menjadi saksi apabila personil tersebut mengetahui kejadian tersebut.
<br><br>
<h3><b>SENYUM, SAPA, SALAM, TINDAK { S³T}</b></h3>
<br><br><b>SENYUM</b><br><br>
Biasakan senyum untuk menerima tamu, karena dengan senyum tamu akan merasa dihargai dan dihormati.
<br><br><b>SAPA</b><br><br>
Sapalah tamu sebelum anda disapa, Tanya keperluannya dengan sopan, sampaikan hal tersebut kepada yang dituju oleh tamu, diperbolehkan masuk atau tidak, apabila diperbolehkan, arahkan tamu tersebut kepada yang bersangkutan. Dan apabila tidak lakukan penolakan secara baik-baik dengan alasan yang tidak menyinggung perasaan tamu. Hal tersebut diatas biasanya digunakan apabila yang bersangkutan bertugas dipos jaga kantor atau didalam kantor.
<br><br><b>SALAM</b><br><br>
Ucapkan salam yang bersifat umum kepada tamu. Perlakukan tamu dengan sebaik-baiknya.
<br><br>Ucapan-ucapan<br><br>
Selamat siang,. Apa ada yang bisa saya Bantu,. Trimakasih,. Maaf pak,. Silahkan pak  / bu
<br><br><b>TINDAK</b><br><br>
Apa bila ada tamu yang melanggar ketertiban didalam lingkungan perusahaan atau kantor terlebih dahulu dilakukan teguran secara baik-baik, dinasehati dan apabila yang bersangkutan masih melakukan dan tidak mengindahkan teguran tersebut amankan.</p><br>
<br>
          </div>

          <div class="comments">
            <h3 class="single">Our Recent Comments</h3>
            <div class="comments-grids">
              <div class="comments-grid">

                <div class="clearfix"> </div>
              </div>
              <% for(i = commentData.length-1; i >=  0; i--) { %>
                <% if (commentData[i].person.email === email_user){ %>
                  <div class="comments-grid">
                    <div class="comments-grid-left">
                      <img src="<%= commentData[i].person.image %>" alt=" " class="img-responsive">
                    </div>

                    <!--COMMENT-->
                    <div class="comments-grid-right">
                       <div class="panel panel-info">
                        <div class="panel-heading">
                          <h3><b><%= commentData[i].person.name %></b></h3>
                        </div>
                         <div class="panel-body">
                           <ul>
                        <li><%= commentData[i].posted_at.toDateString() %><i></i></li>
                      </ul>
                      <p><%= commentData[i].comment %></p>

                         </div>
                      </div>
                    </div>
                    <div class="clearfix"> </div>
                    <form method="post" action="/academy/details/2/<%= commentData[i]._id %>?_method=DELETE">
                    <br>
                      <button type="submit" value="Delete Comment" class="btn btn-primary">Delete Comment</button>
                    </form>
                  </div>
                <% } else { %>
                  <div class="comments-grid">
                    <div class="comments-grid-left">
                      <img src="<%= commentData[i].person.image %>" alt=" " class="img-responsive">
                    </div>
                    <div class="comments-grid-right">

                       <!--COMMENT-->
                      <div class="panel panel-info">
                        <div class="panel-heading">
                          <h3><b><%= commentData[i].person.name %></b></h3>
                        </div>
                         <div class="panel-body">
                           <ul>
                        <li><%= commentData[i].posted_at.toDateString() %><i></i></li>
                      </ul>
                      <p><%= commentData[i].comment %></p>

                         </div>
                      </div>

                    </div>
                    <div class="clearfix"> </div>
                  </div>
                <% } %>
              <% } %>
              <div class="comments-grid">


                <div class="clearfix"> </div>
              </div>
              <div class="w3layouts_mail_grid single">
                <h3 class="single">Leave a Comment</h3>
                <form method="post" action="/academy/detail/1" >
                  <div class="col-md-12 wthree_contact_left_grid">
                    <textarea name="comment" placeholder="Message..." required=""></textarea>
                    <input type="submit" value="Submit">
                  </div>
                  <div class="clearfix"> </div>
                </form>
              </div>
            </div>
          </div>


        </div>


        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>





<!-- footer -->
  <div class="footer_top_agileits">
    <div class="container">

      <div class="col-md-4 footer_grid">
        <h3>About HRC</h3>
        <p>HR Companion (HRC) is a platform which connects job-seeker and employee-seeker company to make easier and faster working flow. We also provide academy page for our employee-to-be in order to improve their knowledge and skills. Besides, we also provide Quick Hiring for company's emergency situation.
        <a href="/about">More »</a>
        </p>
      </div>
      <div class="col-md-4 footer_grid">
        <h3>Latest Jobs</h3>
        <ul class="footer_grid_list">
          <li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
            <a href="single.html" >Lorem ipsum neque vulputate </a>
          </li>
          <li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
            <a href="single.html" >Dolor amet sed quam vitae</a>
          </li>
          <li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
            <a href="single.html" >Lorem ipsum neque, vulputate </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 footer_grid">
        <h3></h3>
        <ul class="address">
          <li><i class="fa fa-map-marker" aria-hidden="true"></i>HRC Head Office<span>Jalan Kapten Maulana Lubis No. 88</span><span>Medan, Indonesia</span></li>
          <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">hrcindo@gmail.com</a></li>
          <li><i class="fa fa-phone" aria-hidden="true"></i>+62-818-100-888</li>
        </ul>
      </div>
      <div class="clearfix"> </div>

    </div>
  </div>
  <div class="footer_w3ls">
    <div class="container">

      <div class="footer_bottom">
        <div class="col-md-9 footer_bottom_grid">
          <div class="footer_bottom1">
            <a class="navbar-brand" href="/">
              <img src="images/logo2.png" width="100" height="45">
            </a>
          </div>
        </div>
        <div class="col-md-3 footer_bottom_grid">
          <h6>Follow Us</h6>
          <div class="social">
            <ul>
              <li><a href="www.facebook.com"><i class="fa fa-facebook"></i></a></li>
              <li><a href="www.twitter.com"><i class="fa fa-twitter"></i></a></li>
              <li><a href="www.rss.com"><i class="fa fa-rss"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="clearfix"> </div>
      </div>

    </div>
  </div>
  <!-- //footer -->

  <a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
  <!-- js -->
  <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>

  <script type="text/javascript" src="js/bootstrap.js"></script>

</body>
</html>
