<!DOCTYPE html>
<html>
<head>
	<title>HRC | ACADEMY INFORMATION</title>

	<!--/tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Soft Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--//tags -->
	<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />

	<link href="/css/font-awesome.css" rel="stylesheet">
	<!-- //for bootstrap working -->
	<link href="//fonts.googleapis.com/css?family=Work+Sans:200,300,400,500,600,700" rel="stylesheet">
	<link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic'
	    rel='stylesheet' type='text/css'>
</head>
<body>
<!-- header -->
	<div class="header" id="home">
		<div class="content white agile-info">
			<nav class="navbar navbar-default" role="navigation">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
						<a class="navbar-brand" href="/">
							<img src="/images/logo.png" width="120" height="50">
						</a>
					</div>
					<!--/.navbar-header-->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<nav class="link-effect-2" id="link-effect-2">
							<ul class="nav navbar-nav">
								<li ><a href="/" class="effect-3">Home</a></li>
								<li class="dropdown">

									<!-- INGAT KSH NAMA HTML KEMANA-->

									<a href="/opportunities" class="effect-3">Opportunities</a>

								</li>
								 <li class="active"><a href="/academy" class="effect-3">Academy</a></li>

								
								<li><a href="/about" class="effect-3">About Us</a></li>

								<li class="dropdown">
									<a  href="/company" class="effect-3" style="color: 	#0080ff">|  Company</a>
									
								</li>

					<li>
					<div class="dropdown" >
						<% if (image_user === undefined) { %>
							<img  src="/images/profile-icon.png" width="33" height="33" >
						<% } else { %>
							<img src="<%= image_user %>" width="33" height="33">
						 <% } %>

 						<div class="dropdown-content">

 						<h3>Sign In</h3>

 						<hr>
  							<% include partials/header %>
						</div>
					</div>

					</li>


							</ul>
						</nav>
					</div>


					<!--/.navbar-collapse-->
					<!--/.navbar-->
				</div>
			</nav>
		</div>
	</div>

	<div class="inner_page_agile">
		<h3>Academy Information</h3>
		<p>Read. Understand. Apply</p>

	</div>
	<!--//banner -->
	<!--/w3_short-->
	<div class="services-breadcrumb_w3layouts">
		<div class="inner_breadcrumb">

			<ul class="short_w3ls"_w3ls>
				<li><a href="/academy"> < Back</a><span>|</span></li>
				<li>Academy Information</li>
			</ul>
		</div>
	</div>

<!-- /inner_content -->
	<div class="inner_content_info_agileits">
		<div class="container">
			<div class="tittle_head_w3ls">
				<h3 class="tittle" style="float: left;">Jenjang Pelatihan Satpam</h3>
			</div>
			<div class="inner_sec_grids_info_w3ls">
				<div class="col-md-8 job_info_left">
					<div class="single-left1">
						<img src="images/banner3.jpg" alt=" " class="img-responsive" />
						<ul>
							<li style="    padding-left: 450px;
    padding-top: 20px;"><span class="fa fa-user" aria-hidden="true"></span><a href="#">Ahmad Suteja</a></li>
						</ul>
						<p>
						1.Dasar (Gada Pratama), merupakan pelatihan dasar wajib bagi calon anggota satpam. Lama pelatihan empat minggu dengan pola 232 jam pelajaran. Materi pelatihan a.l. Interpersonal Skill; Etika Profesi; Tugas Pokok, Fungsi dan Peranan Satpam, Kemampuan Kepolisian Terbatas; Bela Diri; Pengenalan Bahan Peledak; Barang Berharga dan Latihan Menembak; Pengetahuan Narkotika, Psikotropika dan Zat Adiktif Lainnya; Penggunaan Tongkat Polri dan Borgol; Pengetahuan Baris Berbaris dan Penghormatan;
<br>2.Penyelia (Gada Madya), merupakan pelatihan lanjutan bagi anggota satpam yang telah memiliki kualifikasi Gada Pratama. Lama pelatihan dua minggu dengan pola 160 jam pelajaran dan
<br>3.Manajer Keamanan (Gada Utama), merupakan pelatihan yang boleh diikuti oleh siapa saja dalam level setingkat manajer, yaitu chief security officer atau manajer keamanan. Pola 100 jam pelajaran.
Selain lembaga pendidikan kepolisian negara seperti Sekolah Polisi Negara, hanya perusahaan yang sudah memiliki izin operasional dari Kepala Polri sebagai badan usaha jasa pendidikan dan latihan keamanan, boleh menyelenggarakan pelatihan satpam. Kepolisian Wilayah, Kepolisian Wilayah Kota Besar, Kepolisian Resor, Kepolisian Resor Kota hanya melakukan latihan penyegaran.</p>
					</div>

					<div class="comments">
						<h3 class="single">Our Recent Comments</h3>
						<div class="comments-grids">
							<div class="comments-grid">
								
								<div class="clearfix"> </div>
							</div>
							<% for(i = commentData.length-1; i >=  0; i--) { %>
			          <% if (commentData[i].person.email === email_user){ %>
									<div class="comments-grid">
										<div class="comments-grid-left">
											<img src="<%= commentData[i].person.image %>" alt=" " class="img-responsive">
										</div>
										<!--COMMENT-->
                    <div class="comments-grid-right">
                       <div class="panel panel-info">
                        <div class="panel-heading">
                          <h3><b><%= commentData[i].person.name %></b></h3>
                        </div>
                         <div class="panel-body">
                           <ul>
                        <li><%= commentData[i].posted_at.toDateString() %><i></i></li>
                      </ul>
                      <p><%= commentData[i].comment %></p>

                         </div>
                      </div>
										</div>
										<div class="clearfix"> </div>
										<form method="post" action="/academy/details/1/<%= commentData[i]._id %>?_method=DELETE">
										<br>
											<button type="submit" value="Delete Comment" class="btn btn-primary">Delete Comment</button>
										</form>
									</div>
			          <% } else { %>
									<div class="comments-grid">
										<div class="comments-grid-left">
											<img src="<%= commentData[i].person.image %>" alt=" " class="img-responsive">
										</div>
										<div class="comments-grid-right">

                    
											 <!--COMMENT-->
                      <div class="panel panel-info">
                        <div class="panel-heading">
                          <h3><b><%= commentData[i].person.name %></b></h3>
                        </div>
                         <div class="panel-body">
                           <ul>
                        <li><%= commentData[i].posted_at.toDateString() %><i></i></li>
                      </ul>
                      <p><%= commentData[i].comment %></p>

                         </div>
                      </div>
										</div>
										<div class="clearfix"> </div>
									</div>
			          <% } %>
							<% } %>
							<div class="comments-grid">
								
								
								<div class="clearfix"> </div>
							</div>
							<div class="w3layouts_mail_grid single">
								<h3 class="single">Leave a Comment</h3>
								<form method="post" action="/academy/detail/1" >
									<div class="col-md-12 wthree_contact_left_grid">
										<textarea name="comment" placeholder="Message..." required=""></textarea>
										<input type="submit" value="Submit">
									</div>
									<div class="clearfix"> </div>
								</form>
							</div>
						</div>
					</div>

					
				</div>


				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>





<!-- footer -->
	<div class="footer_top_agileits">
		<div class="container">

			<div class="col-md-4 footer_grid">
				<h3>About HRC</h3>
				<p>HR Companion (HRC) is a platform which connects job-seeker and employee-seeker company to make easier and faster working flow. We also provide academy page for our employee-to-be in order to improve their knowledge and skills. Besides, we also provide Quick Hiring for company's emergency situation.
				<a href="/about">More »</a>
				</p>
			</div>
			
			<div class="col-md-6 footer_grid" style="padding-left: 250px">
				<h3>Contact Us</h3>
				<ul class="address">
					<li><i class="fa fa-map-marker" aria-hidden="true"></i>HRC Head Office<span>Jalan Kapten Maulana Lubis No. 88</span><span>Medan, Indonesia</span></li>
					<li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">hrcindo@gmail.com</a></li>
					<li><i class="fa fa-phone" aria-hidden="true"></i>+62-818-100-888</li>
				</ul>
			</div>
			<div class="clearfix"> </div>

		</div>
	</div>
	<div class="footer_w3ls">
		<div class="container">

			<div class="footer_bottom">
				<div class="col-md-9 footer_bottom_grid">
					<div class="footer_bottom1">
						<a class="navbar-brand" href="/">
							<img src="/images/logo2.png" width="100" height="45">
						</a>
					</div>
				</div>
				<div class="col-md-3 footer_bottom_grid">
					<h6>Follow Us</h6>
					<div class="social">
						<ul>
							<li><a href="www.facebook.com"><i class="fa fa-facebook"></i></a></li>
							<li><a href="www.twitter.com"><i class="fa fa-twitter"></i></a></li>
							<li><a href="www.rss.com"><i class="fa fa-rss"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>

		</div>
	</div>
	<!-- //footer -->

	<a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	<!-- js -->
	<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>

	<script type="text/javascript" src="js/bootstrap.js"></script>

</body>
</html>
